.my_dark {
    background-color: #3d3d3dd6; 
    color: #fff; 
    padding: 20px; 
    border-radius: 20px;
    max-width: 600px; 
    margin: auto;
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
	box-shadow: 5px 20px 50px #000;
}

#myheading {
    font-size: 2.5rem; 
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem; 
    line-height: 1.6; 
    margin-bottom: 10px;
}
