.card {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow:scroll;
}

.card-img-top{
  height: 250px;
}
.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-price{
  color: #000000;
  margin: 20px;
  font-size: larger;
}
.card-text {
  color: #666;
  height: 30px;
  margin: 10px;
}
